// .ico-instagram {
//     // background-image: url(../../../assets/img/Instagram_icon-icons.com_66804.svg);
//     background-image: url(./assets/img/Instagram_icon-icons.com_66804.svg);
//     background-repeat: no-repeat;
//     background-size: 40px;
// }

// .ico-instagram:hover {
//     fill: #F6A213;
// }


.ico-light-dark-instagram {
    background-image: url(./assets/img/instagram_icon_light.svg);
    background-repeat: no-repeat;
    background-size: 40px;

}

.ico-light-dark-instagram:hover {
    background-image: url(./assets/img/instagram_icon_dark.svg);
}

.ico-vk {
    // background-image: url(../../../assets/img/vk_icon-icons.com_66102.svg);
    background-image: url(./assets/img/vk_icon-icons.com_66102.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-light-dark-vk {
    background-image: url(./assets/img/vk_icon_light.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}
.ico-light-dark-vk:hover {
    background-image: url(./assets/img/vk_icon_dark.svg);
}

.ico-telegram {
    // background-image: url(src\assets\img\telegram_icon_130816.svg;
    background-image: url(./assets/img/telegram_icon_130816.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-light-dark-telegram {
    background-image: url(./assets/img/telegram_icon_light.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-light-dark-telegram:hover {
    background-image: url(./assets/img/telegram_icon_dark.svg);
}

.ico-light-dark-youtube {
    background-image: url(./assets/img/youtube_icon_light.svg);
    background-repeat: no-repeat;
    background-size: 40px;
}

.ico-light-dark-youtube:hover {
    background-image: url(./assets/img/youtube_icon_dark.svg);
}

.ico-share {
    background-image: url(./assets/img/share_137206.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-fullscreen {
    background-image: url(./assets/img/fullscreen_89822.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-minimize {
    background-image: url(./assets/img/minimize.svg);
    background-repeat: no-repeat;
    background-size: 30px;
}

.ico-close{
    background-image: url(./assets/img/close.svg);
    background-repeat: no-repeat;
    background-size: 33px;
}

.ico-zoom{
    background-image: url(./assets/img/zoom.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    // color: #d7d7d7;
}

//редактор svg -> https://jarjad.ru/svg-editor/
.ico-zoom-minus {
    // background-image: url(./assets/img/zoom-minus.svg);
    // background-image: url(./assets/img/zoom-minus1.svg);
    background-image: url(./assets/img/zoom-minus2.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    // color: #d7d7d7;
}


.ico-facebook {
    background-image: url(./assets/img/facebook.svg);
    // background-image: url(./assets/img/Facebook_icon.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-twitter {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(./assets/img/twitter.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-pinterest {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(./assets/img/pinterest.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}

.ico-download {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(./assets/img/download.svg);
    background-repeat: no-repeat;
    background-size: 15px;
}


.svg-decorative-wave {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(./assets/img/decorative-wave.svg);
    background-repeat: no-repeat;
    // background-size: 15px;
    height: 96px;
    width: auto;
    z-index: 10;
}

.svg-decoration-oblique-oval {
    // background-image: url(./assets/img/facebook.svg);
    background-image: url(./assets/img/decoration_oblique-oval.svg);
    background-repeat: no-repeat;
    height: 119.88px;
    width: 103.51px;
}
